section {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5%;
    margin: 0px auto;
    max-width: 1550px;
    width: 1550px;
    h3.favorites-warning {
      font-size: 80px;
      background-color: rgba(255, 255, 255, 0.906);
      padding: 30px;
      border-radius: 10px;
      margin: 0px auto;
      a {
        color: blue;
        padding: 0px 14px;
        &:hover {
          color: purple;
        }
      }
    }
}

@media screen and (max-width: 1550px) {
  section {
    max-width: 1240px;
    width: 1240px;
  }
}

@media screen and (max-width: 1240px) {
  section {
    max-width: 930px;
    width: 930px;
  }
}

@media screen and (max-width: 930px) {
  section {
    max-width: 620px;
    width: 620px;
  }
}

@media screen and (max-width: 620px) {
  section {
    max-width: 310px;
    width: 310px;
  }
}
