@import '../../movietrackericons/css/movietrackericons.css';

.outer-card-container {
   margin: 10px;
   width: 290px;
   height: 500px;
   perspective: 1000;
   z-index: 1;
    
    .inner-card-container {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 0.8s linear;
      .face {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          display: flex;
          flex-wrap: wrap;
          box-shadow: 2px 2px 2px 2px rgb(55, 55, 55);
          border-radius: 10px;
          border: 1px solid black;
          img {
            width: 290px;
            height: 430px;
            border-radius: 10px 10px 0px 0px;
          
          }
          .bottom-container {
            display: flex;
            justify-content: space-between;
            height: 70px;
            background-color: white;
            width: 100%;
            border-top: 1px solid black;
            border-radius: 0px 0px 10px 10px;
        
            h1 {
              font-size: 25px;
              margin: 0px;
              height: 70px;
              width: 170px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
            
            h1.favorited {
              background-color: #00AEFF;
              color: black;
            }
        
            button{
              height: 70px;
              width: 60px;
              border: none;
              cursor: pointer;
              font-size: 18px;
              padding: 0px;
              &:hover {
                background-color: black;
                color: #00AEFF;

              }
              i {
                font-size: 30px;
              }
              &:nth-child(1) {
                border-right: 1px solid black;
                border-radius: 0px 0px 0px 10px;
              }
              &:nth-child(3) {
                border-left: 1px solid black;
                border-radius: 0px 0px 10px 0px;
              }
            }
          }
      }
      .face.card-back {
          display: flex;
          box-sizing: border-box;
          transform: rotateY(180deg);
          height: 500px;
          width: 290px;
          background-color: darkgrey;;
          .top-section {
            height: 430px;
            .top-row {
              display: flex;
              justify-content: space-between;
              background-color: #00AEFF;
              border-radius: 10px 10px 0px 0px;
              height: 100px;
              h1 {
                width: 100%;
                font-size: 30px;
                margin: 0px;
                padding: 10px;
              }
              p {
                font-size: 50px;
                margin: 0px;
                padding-right: 10px;
              }
            }
            p {
              font-size: 20px;
              padding: 10px;
              margin: 0px;
              height: 310px;
              overflow: scroll;              
            }
          }
          .bottom-container {
            display: flex;
            justify-content: space-between;
            height: 70px;
            background-color: white;
            width: 100%;
            border-radius: 0px 0px 10px 10px;
            border-top: 1px solid black;
            h1 {
              font-size: 25px;
              margin: 0px;
              height: 70px;
              width: 170px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
            h1.favorited {
              background-color: #00AEFF;
              color: black;
            }
        
            button{
              height: 70px;
              width: 60px;
              border: none;
              cursor: pointer;
              font-size: 18px;
              padding: 0px;
              &:hover {
                background-color: black;
                color: #00AEFF;

              }
              i {
                font-size: 30px;
              }
              &:nth-child(1) {
                border-right: 1px solid black;
                border-radius: 0px 0px 0px 10px;
              }
              &:nth-child(3) {
                border-left: 1px solid black;
                border-radius: 0px 0px 10px 0px;
              }
            }
          }
      }
    }
}

.outer-card-container.flip {
  .inner-card-container {
    transform: rotateY(180deg);
    box-shadow: -4px 4px 4px rgba(0,0,0,0.2);    
    
   }  
 }
