@import '../../movietrackericons/css/movietrackericons.css';

article {
  width: 290px;
  height: 500px;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px rgb(55, 55, 55);
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;

  .bottom-container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;

    h1 {
      font-size: 25px;
      margin: 0px;
      height: 70px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    button{
      height: 70px;
      width: 60px;
      border: none;
      cursor: pointer;
      font-size: 18px;
      padding: 0px;
      i {
        font-size: 30px;
      }
      &:nth-child(1) {
        border-right: 1px solid black;
        border-radius: 0px 0px 0px 10px;
      }
      &:nth-child(3) {
        border-left: 1px solid black;
        border-radius: 0px 0px 10px 0px;
        // line-height: 20px;
      }
    }
  }
}

img {
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    width: 290px;
    height: 430px;
}