.Header {
  height: 100px;
  width: 100%;
  display: flex;
  background: rgb(9, 23, 106);
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0px;
    color: white;
    font-size: 50px;
  }

  .sign-in{
    position: absolute;
    padding-right: 8px;
    right: 2px;
    width: 180px;
    display: flex;
    justify-content: flex-end;
    color: white;
    
    .sign-out {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      span {
        width: 100%;
        height: 50%;
        text-align: right;
      }
      .sign-in-link {
        height: 50%;
        width: 100%;
        text-align: right;
        padding-left: 0px;
        margin-top: 10px;
      }
      

    }



    .sign-in-link {
      padding-left: 10px;
      color: white;
      &:hover {
        color: grey;
      }
    }
  }

}